In [ ]:
# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystems are summarized.

In [ ]:
**Objectives:**

- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List open source data science tools

#### Some of the popular languages that Data Scientists use are:
1. Pythoh
2. R
3. Julia
4. Scala

#### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. TensorFlow
4. SciPy
4. scikit-learn

#### Data Science Tools:
|Data Science Tools|
|------------------|
|Jupyter Notebook|
|R Studio|
|Google Colab|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [24]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [34]:
#This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author
Anand